body{
  background-color: #e9bab8;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v20H0V0zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm20 0a7 7 0 1 0 0-14 7 7 0 0 0 0 14zM10 37a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm10-17h20v20H20V20zm10 17a7 7 0 1 0 0-14 7 7 0 0 0 0 14z' fill='%23280dc9' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.App {
  height: 100%;
  text-align: center;
  
}



.main {
  margin: 0 auto;
  margin-top: 100px;
  
}

/* card styles */

.deck{
  position: relative;
  margin: 0 auto;
  width: 30%;
  height: 200px;
  background-color: blue;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

.card {
  border: 3px solid black;
  transform-style: preserve-3d;
  transition: 1s;
  /* cursor: pointer; */
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  grid-column: 1/1;
  grid-row: 1/1
}

.card.current{
  z-index: 2;
}

.card.next{
  z-index: 1;
}

.cardText {
  color: black;
  background-image: none;
}


/* card animations */

/* .cardBack.is-flipped{
  transform: rotateY(180deg); 
} */

.card.is-flipped{
  transform: rotateY(180deg); 
}

.card.slide{
  /* translate: 200px 200px;
  transition: translate 1s; */
  transform: translate3d(0px, 250px, 0px);
  /* transform: rotateY(180deg); */
}


.cardFront{
  background-color: white;
  width: 100%;
  height: 100%;
  /* backface-visibility: hidden; */
  position: absolute;
  background-image: none;
  /* transform: translate3d(0%, 0%, 0%) rotateY(180deg); */
  /* transition: transform 1s; */
}

.cardBack{
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
  
}








